<ul>
  {%- for item in collections.post | reverse -%}
    <li class="mt-6">
      <time value="{{ item.date }}" class="text-sm text-gray-500">{{ item.date | readableDate }}</time>
      <h3 class="mt-1 font-semibold">
        <a class="text-primary" href="{{ item.url }}">{{ item.data.title }}</a>
      </h3>
      <div class="mt-2">
        {% if item.data.description %}
          {{ item.data.description }}
        {% endif %}
      </div>
    </li>
  {%- endfor -%}
</ul>