<!-- Testimonials Section -->
<section class="bg-gray-50 py-20 dark:bg-black">
  <div class="max-w-3xl mx-auto text-center mb-12">
    <h2 class="text-2xl font-semibold mb-8 dark:text-white">What developers say</h2>
    <div class="grid gap-12 md:grid-cols-3 text-left md:text-center">
      <div>
        <p class="text-lg text-gray-700 mb-4 dark:text-gray-200">"It was perfect! I´ve been a TDD practitioner, and this course surprised me!"</p>
        <div class="font-semibold text-gray-900 dark:text-white"></div>
        <div class="text-xs text-gray-400 dark:text-gray-400"></div>
      </div>
      <div>
        <p class="text-lg text-gray-700 mb-4 dark:text-gray-200">"Nothing to improve. It's just perfect for immediate use!"</p>
        <div class="font-semibold text-gray-900 dark:text-white"></div>
        <div class="text-xs text-gray-400 dark:text-gray-400"></div>
      </div>
      <div>
        <p class="text-lg text-gray-700 mb-4 dark:text-gray-200">"He did an excellent job clearly explaining the concepts."</p>
        <div class="font-semibold text-gray-900 dark:text-white"></div>
        <div class="text-xs text-gray-400 dark:text-gray-400"></div>
      </div>
    </div>
  </div>
</section> 