<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ classes.html }}">

  <head>
    {% include "components/head.njk" %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% if env == 'production' %}
      {# capture the CSS content as a Nunjucks variable #}
      {% set css %}{% include "css/style.min.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
      {% set css %}{% include "css/dracula-prism.min.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/assets/style.css">
      {% set css %}{% include "node_modules/dracula-prism/css/dracula-prism.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% endif %}

  </head>

  <body class="{{ classes.body }}">

    {% include "components/header.njk" %}

    <main id="main-content" style="scroll-margin-top: 5rem;" class="{{ classes.main }}">
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

    {# Add DarkMode script if set to true in site data #}
    {% if site.allowDarkMode %}
      {% set js %}
      {% include "js/darkmode.js" %}
      {% endset %}
      <script>
        {{ js | jsmin | safe }}
      </script>
    {% endif %}

  </body>

</html>