---
layout: default
---

<article class="max-w-6xl mx-auto px-6 py-12">
  <div class="prose max-w-none dark:prose-invert">
    {% if description %}
    <p class="text-xl text-charcoal-80 dark:text-charcoal-40 mb-12">{{ description }}</p>
    {% endif %}

    <div class="mt-6 text-xl text-charcoal-80 dark:text-charcoal-40">
      {{ teaser | safe }}
    </div>
    
    <div class="mt-12">
      {{ content | safe }}
    </div>
  </div>
</article>