---
layout: default
title: About Gui Ferreira
description: "About Gui Ferreira"
--- 

<section class="my-auto">
  <div class="mx-auto flow">
    <h1>
      About me
    </h1>
    <p>
      Guilherme "Gui" Ferreira is a Minimalist Software Craftsman, passionate about simplicity and continuous learning.
    </p>
    <p>
      He is a Microsoft MVP, Tech Speaker, YouTuber,
      <a
        href="https://dometrain.com/author/gui-ferreira/?affcode=1115529_k5a22dj8&ref=gui-ferreira"
        alt="Gui Ferreira at Dometrain">Dometrain
                                        Author</a>, and .NET content creator.
    </p>
    <h4>
      Are you looking for a headshot?
    </h4>
    <p>
      What about
      <a href="/images/headshot.png" alt="Headshot">this one</a>?!
                              Or use
      <a href="/images/headshot-1024x1024.png" alt="Headshot Square">this one</a>
      if you need a square aspect ratio.
    </p>
    <h2>
      Where you can find me?
    </h2>
    <p>
      <ul>
        <li>
          <a href="https://twitter.com/gsferreira" alt="Twitter">Twitter</a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/gsferreirachannel" alt="YouTube">YouTube channel</a>
        </li>
        <li>
          <a href="https://github.com/gsferreira" alt="GitHub">GitHub</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/237766/guilherme-ferreira" alt="Stack Overflow">Stack Overflow</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gferreira" alt="LinkedIn">LinkedIn</a>
        </li>
        <li>
          <a href="https://dometrain.com/author/gui-ferreira/?affcode=1115529_k5a22dj8&ref=gui-ferreira" alt="Dometrain">Dometrain</a>
        </li>
        <li>
          <a href="https://www.polywork.com/gsferreira" alt="Polywork">Polywork</a>
        </li>
        <li>
          <a href="https://sessionize.com/gsferreira" alt="Sessionize">Sessionize</a>
        </li>
        <li>
          <a href="https://www.goodreads.com/user/show/88336096-guilherme-ferreira" alt="Goodreads">Goodreads</a>
        </li>
        <li>
          <a href="https://bsky.app/profile/gui-ferreira.bsky.social" alt="Redbubble">Bluesky</a>
        </li>
        <li>
          <a href="https://www.pinterest.com/gsferreira/" alt="Pinterest">Pinterest</a>
        </li>
        <li>
          <a href="https://www.redbubble.com/people/gsferreira/shop" alt="Redbubble">Redbubble</a>
        </li>
        <li>
          Or just mail me at:
          <a href="mailto:gui@guiferreira.me">gui@guiferreira.me</a>
        </li>
      </ul>
    </p>
  </div>
</section>