---
layout: default
title: About
description: "About Guilherme Ferreira"
---

<section class="my-auto">
  <div class="mx-auto flow">

    <h2>
      About me
    </h2>

    <p>
      Hi!
    </p>
    <p>
      My name is Guilherme and I'm
      <a href="https://www.pinterest.com/igori/portugal/" alt="Portugal">Portuguese</a>, a minimalist aspirant, passionate by product development and a continuous improvement enthusiast. I currently work as a Software Architect at
      <a href="https://omnialowcode.com/" alt="OMNIA Low-code">OMNIA</a>, building a Low-code Development Platform from the ground up.
    </p>
    <p>
      I'm also co-organizer of the
      <a href="https://netponto.org/" alt="NetPonto">NetPonto Porto</a>
      Community and a member of
      <a href="https://ndcporto.com" alt="NDC Porto">NDC Porto</a>
      Agenda Committee.
    </p>

    <h2>
      Where you can find me?
    </h2>
    <p>
      <ul>
        <li>
          <a href="https://twitter.com/gsferreira" alt="Twitter">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/gsferreira" alt="GitHub">GitHub</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/237766/guilherme-ferreira" alt="stackoverflow">stackoverflow</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gferreira" alt="LinkedIn">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.pinterest.com/gsferreira/" alt="Pinterest">Pinterest</a>
        </li>
        <li>
          <a href="https://www.redbubble.com/people/gsferreira/shop" alt="Redbubble">Redbubble</a>
        </li>
        <li>
          Or just mail me at:
          <a href="mailto:me@gsferreira.com">me@gsferreira.com</a>
        </li>
      </ul>
    </p>

  </div>
</section>