---
layout: default
title: Blog
description: "Awesome blog posts"
---

<section class="my-auto">
  <div class="mx-auto flow">
    <h1>{{ title }}</h1>

    {% include "components/posts.njk" %}
  </div>
</section>