---
layout: default
description: "Software Architect and a minimalist aspirant. passionate by product development and a continuous improvement enthusiast."
---

<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Hello 👋!</p>
    <h1 class="mt-6">I'm Guilherme Ferreira</h1>
    <h2 class="mt-6 font-sans text-2xl font-light mb-20">
      I'm a Software Architect and a minimalist aspirant 🌱. Passionate by product development and a continuous improvement enthusiast.
    </h2>

    <h3>
      Blog
    </h3>
    <ul>
      {%- for item in collections.post | reverse -%}
        {% if loop.index0 < 3 %}

          <li class="mt-6">
            <time value="{{ item.date }}" class="text-sm text-gray-500">{{ item.date | readableDate }}</time>
            <h3 class="mt-1 font-semibold">
              <a class="text-primary hover:text-secondary" href="{{ item.url }}">{{ item.data.title }}</a>
            </h3>
            <div class="mt-2">
              {% if item.data.description %}
                {{ item.data.description }}
              {% endif %}

            </div>
          </li>
          {% endif%}

        {%- endfor -%}
      </ul>
      <div class="flex flex-row justify-center mt-10">
        <a class="bg-primary hover:bg-secondary text-white font-bold mx-4 py-2 px-4 rounded-full" href="/blog/">View all posts</a>
      </div>

      {% include "components/newsletter.njk" %}
    </section>