---
layout: default
title: Workshops by Gui Ferreira
description: Get to the next level as a software developer with a Gui Ferreira Workshop
pagination:
  data: collections.workshop
  size: 10
  alias: workshops
  reverse: true
---

<section class="my-auto">
  <div class="mx-auto flow">
    <h1>Check out these workshops</h1>
    <ul>
      {%- for workshop in workshops -%}
        <li class="mt-6">
          <h3 class="mt-1 font-semibold">
            <a class="text-primary hover:text-secondary" href="{{ workshop.url }}">{{ workshop.data.title }}</a>
          </h3>
          <div class="mt-2">
            {% if workshop.data.description %}
              {{ workshop.data.description }}
            {% endif %}
          </div>
          <div class="mt-2">
            <a class="text-primary hover:text-secondary" href="{{ workshop.url }}">Visit the workshop →</a>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>